<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hcsp.MockMapper">
    <select id="insertNews" parameterType="com.github.hcsp.News">
        insert into news (title, content, url, created_at, modified_at)
        VALUES (#{title}, #{content}, #{url}, #{createdAt}, #{modifiedAt})
    </select>
    <select id="selectNews" resultType="com.github.hcsp.News">
        SELECT id, url, content, title, created_at, modified_at FROM news limit 2000
    </select>
</mapper>